<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        stopOnFailure="false"
        stopOnError="false"
        colors="true">
    <testsuites>
        <testsuite name="API Test Suite">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="true"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <!--<logging>-->
        <!--<log type="coverage-html" target="tests/build/coverage" charset="UTF-8"-->
             <!--yui="true" highlight="true"-->
             <!--lowUpperBound="50" highLowerBound="80"/>-->
    <!--</logging>-->
</phpunit>